* {
  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --color: #e74c3c; */
  --color: #8f357d;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-webkit-scrollbar {
    display: none;
}

html, body {
  width: 100%;
  /* background-color: #100806; */
  color: #fff;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.mainColor {
  color: var(--color);
}

h1 {}
h2 {}
h3 {
  font-weight: 400;
}
h4 {
  width: 60%;
  border-bottom: 2px solid white;
  font-weight: 300;
  font-size: 1.2em;
  padding-bottom: 2px;
  margin-top: 25px;
}

h4.fix {
  margin-bottom: -10px;
}

.section-title {
  width: 100%;
  color: #fff;
  font-family: Abel, sans-serif;
  padding-left: 350px;
  font-size: 5vw;
  margin-bottom: 25px;
}

.gettingStarted {
  display: flex;
  margin-bottom: 300px;
  flex-wrap: nowrap;
}

.gs-toc {
  width: 500px;
}

.gs-toc ul:nth-child(1) {
  list-style: none;
  padding: 0 0 0 10px;
  margin-left: 50px;
  position: sticky;
  top: 100px;
}

.gs-toc .head {
  margin-top: 10px;
}

p:nth-child(-n+2)   {
  margin-bottom: 15px;
}

.gettingStarted a {
  color: var(--color);
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

.gettingStarted a:hover {
  text-decoration: underline;
}

.gs-content {
  flex-grow: 1;
  padding-left: 3%;
}

.gs-content article {
  padding-top: 55px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 100px;
}

.gs-content article:nth-child(1) {
  margin-top: -55px;
}

.gs-content h1 {
  margin-left: -12px;
  font-size: 2em;
  margin-bottom: 5px;
  border-left: 4px solid var(--color);
  padding-left: 6px;
}

.gs-content h2 {
  margin: 20px 0 10px;
  font-weight: 500;
}

.gs-content h2:not(:first-child) {
  margin-top: 35px;
}

.gs-content b {
  font-weight: 500;
}

.gs-content ol li {
  list-style: upper-roman;
}

.gs-content ul li {
  list-style: circle;
}

.gs-content li {
  margin-top: 16px;
  margin-left: 14px;
}


.gs-content article.sideImg {
  display: flex;
}

.gs-content article.sideImg div:nth-child(1) {
  flex-grow: 1;
}

.gs-content article.sideImg div:nth-child(2) {
  width: 450px;
  height: 450px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gs-content .margin-top {
  margin-top: 12px;
}

.divider {
  padding: 0 0 4px 0 !important;
  width: 90%;
  margin-top: 50px;
  font-size: 24px;
  border-bottom: 1px solid var(--color);
  color: var(--color);
  font-weight: 300;
}

.blue {
  color: #3498db;
  border-color: #3498db;
}

.green {
  color: #8BC34A;
  border-color: #8BC34A;
}

.yellow {
  color: #FFC107;
  border-color: #FFC107;
}

.red {
  color: #F44336;
  border-color: #F44336;
}
